<!<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>home page</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <h1>hii this is home page.
            welcome to vijay phone 
        </h1>  
        
        {% if user.is_authenticated %}
            {% comment %} <h3>Hello {{fname}}</h3> {% endcomment %}
            <h4>you are succesfully logged in</h4>
            <button type="submit"><a href="/vivo/">home page</a></button>
            <button type="submit"><a href="{% url 'signout'%}">signout</a></button>
        {% else %}
            <button type="submit"><a href="/signup">signup</a></button>
            <button type="submit"><a href="signin/">signin</a></button>
        {% endif %}
    </body>
</html>