{% extends 'phone/basic.html' %}

{% block title %} Home page {%endblock%}

{% block css %} 

{%endblock%}



{% block body %} 

    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-xl-5">
          <div class="card" style="border-radius: 1rem;">
            <div class="row g-0 bg-dark rounded-5">
              
              <div class="col-md col-lg d-flex align-items-center">
                <div class="card-body p-4 p-lg-5 text-white bg-dark rounded-5">
  
                  <form action="/signup/" method="post" name="myform">
                    {% csrf_token %}
  
                    <div class="d-flex align-items-center mb-3 pb-1">
                      <i class="fas fa-cubes fa-2x me-3" style="color: #f0edeb;"></i>
                      <span class="h1 fw-bold mb-0 ">Krishna Mobile</span>
                    </div>
  
                    <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Sign Up your account</h5>
  
                    <div class="form-outline mb-2">
                    <input type="text" id="username" name="username" placeholder="create a username " class="form-control form-control-lg">
                    <label class="form-label" for="username">User name</label>
                    </div>

                    <div class="form-outline mb-2">
                    <input type="text" id="fname" name="fname" placeholder="enter your first name " class="form-control form-control-lg">
                    <label class="form-label" for="fname">First name</label>
                      </div>


                      <div class="form-outline mb-2">
                        <input type="text" id="lname" name="lname" placeholder="enter your last name" class="form-control form-control-lg">
                        <label class="form-label" for="lname">last name</label>
                      </div>



                      <div class="form-outline mb-2">
                        <input type="email" id="email" name="email" placeholder="email " class="form-control form-control-lg">
                        <label class="form-label" for="email">Email address</label>
                      </div>


                      <div class="form-outline mb-2">
                        <input type="password" id="pass1" name="pass1" placeholder="create a password " class="form-control form-control-lg">
                        <label class="form-label" for="">Password</label>
                      </div>
  
                    <div class="form-outline mb-2">
                      <input type="password" id="pass2" name="pass2" placeholder="confirm password " class="form-control form-control-lg">
                      <label class="form-label" for="">Confirm Password</label>
                    </div>
  
                    <div class="pt-1 mb-2">
                      <button class="btn btn-outline-light fs-4 " type="submit">Sign Up</button>
                    </div>
  
                    
                    
                  </form>
  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

{% endblock %}

{% block js %} 
<script>
function validateForm() {
  var x = document.forms["myForm"]["username"].value;
  if (x == "") {
    alert("Name must be filled out");
    return false;
  }
}
</script>
{% endblock %}